<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="home-outline"></ion-icon>
      <div>Inicio</div>
  </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="basketball-outline"></ion-icon>
      <div>Jogos</div>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="newspaper-outline"></ion-icon>
      <div>Noticias</div>
    </ion-tab-button>

    <ion-tab-button tab="tab4">
      <ion-icon name="caret-forward-circle-outline"></ion-icon>
      <div>Videos</div>
    </ion-tab-button>

    <ion-tab-button tab="tab5">
      <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
      <div>Mais</div>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
