ion-content{
    --background: #f1f1f1;
}

ion-toolbar{
    --background: #030032;
}

.logo{
    width: 10%;
    height: auto;
    margin: 2%;
}

.text{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 2%;
    line-height: 100%;
    color: antiquewhite;
}

ion-tab-bar{
    --background: #5f5e5e;
     
  }

ion-tab-button {
    --color: var(--ion-color-medium);
    --color-selected: #aee524;
  
    &::before {
      background-color: transparent;
      display: block;
      content: "";
      margin: 0 auto;
      width: 20px;
      height: 5px;
    }
  
    &.tab-selected::before {
      background-color: '';
    }
  }



