<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngFor="let item of items" (click)="postView(item.id)">
    <img src="{{item._embedded['wp:featuredmedia'][0].media_details.sizes.full.source_url}}" />
    <ion-card-content>
      <ion-card-title style="margin-bottom: 2%;">{{item.title.rendered}}</ion-card-title>
        <ion-row>
          
          <img class="avatar" src="{{item._embedded['author'][0].avatar_urls['24']}}" /> 
          <div>&nbsp;{{item._embedded['author'][0].name}}</div>

        </ion-row>
      
    </ion-card-content>
  </ion-card>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="getPosts($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Carregando mais...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  
</ion-content>
